/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-nov-2019, 9:32:07
    Author     : Joan Sanmartí Esudero
*/

h1,h2{
    color: rgb(92, 182, 3);
}

h1 {
    text-align: center;    
    letter-spacing: 8px;
}

h2{
    border-bottom: 1px solid rgb(92, 182, 3);
}

h3 {
    color: chocolate;
}

.titcol{
    color: chocolate;
}

.img-full{
    width: 100%; 
}

div {
    border: 1px solid gray;
    background: rgb(204,204,204);
    background: linear-gradient(0deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(204,204,204,1) 100%);
    max-width: 70%;
    min-width: 40%;
}

aside{
    width: 25%;
}

section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
}

li{
    background: linear-gradient(180deg, white 0%, rgb(131, 228, 87) 100%) ;
    border: 1px solid gray;
    padding: 10px;
    width: 80%;
    text-align: center;
    
}

a,ul{

    text-decoration: none;
    list-style: none;
    padding: 5px;
    padding-top: 0px;
    margin-top: 0px;
    color: darkslategray;
}

.ml-5{
    margin: 10px 20px;
}

.mb-5{
    margin-bottom: 10px;
}

.pl-5{
    padding-left: 20px;
    padding-right: 20px;
}

.active{
    background: linear-gradient(180deg, white 0%, sienna 100%) ;

}

li:hover{
    background: linear-gradient(180deg, white 0%, sienna 100%) ;

}

body{
    margin: auto;
    font-family: 'Lucida Sans Unicode', sans-serif;
    max-width: 100%;
    border: lightsteelblue 5px solid;
    border-radius: .8em;
    padding: 20px;  
    outline: lightsteelblue;
}

@media only screen and (max-width: 700px){

    aside,div{
        width: 100%;
        min-width: 90%;
    }
}


